In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [37]:
data = pd.read_csv ('data_clean_4_21.csv')
data

,fips_code,date,county,state,cases,deaths,State,Staffed.All.Beds,Staffed.ICU.Beds,Licensed.All.Beds,...,licensed_all_beds_.per_1000_elderly_65..,County_Name,Population_2010,RUCC_2013,Description,Area_name,Rural.urban_Continuum_Code_2013,Urban_Influence_Code_2013,peopleinpoverty2018,medianhouseholdincome
0,1001.0,2020-04-21,Autauga,Alabama,30,1,AL,55.0,6.0,85.0,...,9.823,Autauga County,54571.0,2.0,"Metro - Counties in metro areas of 250,000 to ...",Autauga County,2.0,2.0,"7,587","59,338"
1,1003.0,2020-04-21,Baldwin,Alabama,123,3,AL,362.0,51.0,386.0,...,8.660,Baldwin County,182265.0,3.0,Metro - Counties in metro areas of fewer than ...,Baldwin County,3.0,2.0,"21,069","57,588"
2,1005.0,2020-04-21,Barbour,Alabama,28,0,AL,30.0,5.0,74.0,...,15.315,Barbour County,27457.0,6.0,"Nonmetro - Urban population of 2,500 to 19,999...",Barbour County,6.0,6.0,"6,788","34,382"
3,1007.0,2020-04-21,Bibb,Alabama,32,0,AL,25.0,0.0,35.0,...,9.485,Bibb County,22915.0,1.0,Metro - Counties in metro areas of 1 million p...,Bibb County,1.0,1.0,"4,400","46,064"
4,1009.0,2020-04-21,Blount,Alabama,26,0,AL,25.0,6.0,25.0,...,2.370,Blount County,57322.0,1.0,Metro - Counties in metro areas of 1 million p...,Blount County,1.0,1.0,"7,527","50,412"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2778,NaN,2020-04-21,Unknown,Massachusetts,929,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2779,NaN,2020-04-21,Unknown,Rhode Island,1000,151,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2780,NaN,2020-04-21,Unknown,Puerto Rico,915,43,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2781,NaN,2020-04-21,Unknown,Minnesota,4,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2782,NaN,2020-04-21,Unknown,Nevada,10,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
data.columns

Index(['fips_code', 'date', 'county', 'state', 'cases', 'deaths', 'State',
       'Staffed.All.Beds', 'Staffed.ICU.Beds', 'Licensed.All.Beds',
       'All.Bed.Occupancy.Rate', 'ICU.Bed.Occupancy.Rate', 'Population',
       'Population..20..', 'Population..65..',
       'Staffed.All.Beds..Per.1000.People.',
       'Staffed.All.Beds..Per.1000.Adults..20...',
       'Staffed.All.Beds..Per.1000.Elderly..65...',
       'Staffed.ICU.Beds..Per.1000.People.',
       'Staffed.ICU.Beds..Per.1000.Adults..20...',
       'Staffed.ICU.Beds..Per.1000.Elderly..65...',
       'Licensed.All.Beds..Per.1000.People.',
       'Licensed.All.Beds..Per.1000.Adults..20...',
       'Licensed.All.Beds..Per.1000.Elderly..65...', 'county_x',
       'staffed_all_beds', 'staffed_icu_beds', 'licensed_all_beds',
       'all_bed_occupancy_rate', 'icu_bed_occupancy_rate', 'population',
       'population_20', 'population_65', 'staffed_all_beds_.per_1000_people.',
       'staffed_all_beds_.per_1000_adults_20..',
       'staffed_all_beds_.per_1000_elderly_65..',
       'staffed_icu_beds_.per_1000_people.',
       'staffed_icu_beds_.per_1000_adults_20..',
       'staffed_icu_beds_.per_1000_elderly_65..',
       'licensed_all_beds_per_1000_people',
       'licensed_all_beds_.per_1000_adults_20..',
       'licensed_all_beds_.per_1000_elderly_65..', 'County_Name',
       'Population_2010', 'RUCC_2013', 'Description', 'Area_name',
       'Rural.urban_Continuum_Code_2013', 'Urban_Influence_Code_2013',
       'peopleinpoverty2018', 'medianhouseholdincome'],
      dtype='object')

In [55]:

income_comparison=data[['county','state','peopleinpoverty2018','medianhouseholdincome']].dropna()
income_comparison

          county    state peopleinpoverty2018 medianhouseholdincome
0        Autauga  Alabama               7,587                59,338
1        Baldwin  Alabama              21,069                57,588
2        Barbour  Alabama               6,788                34,382
3           Bibb  Alabama               4,400                46,064
4         Blount  Alabama               7,527                50,412
...          ...      ...                 ...                   ...
2750    Sheridan  Wyoming               2,551                58,307
2752  Sweetwater  Wyoming               3,540                73,315
2753       Teton  Wyoming               1,443                99,087
2754       Uinta  Wyoming               2,010                63,401
2755    Washakie  Wyoming                 918                55,190

[2268 rows x 4 columns]

In [57]:



income_comparison.groupby(['peopleinpoverty2018']).sum().sort_values(['state'], ascending=False).head(11)

                               county           state medianhouseholdincome
peopleinpoverty2018
604                  CrookHot Springs  WyomingWyoming          64,05349,356
292                          Niobrara         Wyoming                51,036
7,451                          Albany         Wyoming                47,561
1,443                           Teton         Wyoming                99,087
8,839                         Laramie         Wyoming                63,839
1,518                         Lincoln         Wyoming                69,598
1,519                        Big Horn         Wyoming                55,195
918                          Washakie         Wyoming                55,190
2,010                           Uinta         Wyoming                63,401
3,540                      Sweetwater         Wyoming                73,315
2,551                        Sheridan         Wyoming                58,307

In [39]:
data['Description'].value_counts()

Nonmetro - Urban population of 2,500 to 19,999, adjacent to a metro area                         487
Metro - Counties in metro areas of 1 million population or more                                  357
Nonmetro - Urban population of 2,500 to 19,999, not adjacent to a metro area                     340
Metro - Counties in metro areas of 250,000 to 1 million population                               311
Metro - Counties in metro areas of fewer than 250,000 population                                 275
Nonmetro - Urban population of 20,000 or more, adjacent to a metro area                          210
Nonmetro - Completely rural or less than 2,500 urban population, not adjacent to a metro area    121
Nonmetro - Urban population of 20,000 or more, not adjacent to a metro area                       92
Nonmetro - Completely rural or less than 2,500 urban population, adjacent to a metro area         75
Name: Description, dtype: int64

States in descending order of elderly population:

In [40]:
data.groupby(['state']).sum().sort_values(['population_65'], ascending=False).head(11)

,fips_code,cases,deaths,Staffed.All.Beds,Staffed.ICU.Beds,Licensed.All.Beds,All.Bed.Occupancy.Rate,ICU.Bed.Occupancy.Rate,Population,Population..20..,...,staffed_icu_beds_.per_1000_people.,staffed_icu_beds_.per_1000_adults_20..,staffed_icu_beds_.per_1000_elderly_65..,licensed_all_beds_per_1000_people,licensed_all_beds_.per_1000_adults_20..,licensed_all_beds_.per_1000_elderly_65..,Population_2010,RUCC_2013,Rural.urban_Continuum_Code_2013,Urban_Influence_Code_2013
state,,,,,,,,,,,,,,,,,,,,,
California,321041.0,35844,1316,82484.0,7881.0,99447.0,28.37,25.55,39483372.0,29473763.0,...,8.993,12.025,56.842,114.547,153.287,727.425,37172923.0,149.0,149.0,157.0
Florida,808550.0,27861,866,57579.0,5924.0,76951.0,31.13,26.33,21172397.0,16485978.0,...,12.266,15.583,59.863,236.923,306.149,1296.356,18677494.0,173.0,173.0,151.0
Texas,9554114.0,20949,552,72207.0,6655.0,96310.0,56.45,37.98,27777393.0,19819756.0,...,22.040,30.596,152.458,532.819,732.517,3413.961,24256306.0,683.0,683.0,682.0
Pennsylvania,2818489.0,35384,1620,37867.0,3510.0,46557.0,31.41,26.32,12621902.0,9668730.0,...,15.712,20.347,79.511,206.264,267.008,1046.590,12515474.0,204.0,204.0,193.0
Ohio,3400581.0,13725,557,33786.0,3674.0,48487.0,34.46,30.16,11442746.0,8600700.0,...,16.699,22.168,92.922,250.111,331.550,1377.565,11283091.0,284.0,284.0,261.0
New York,2055565.0,251720,14828,26268.0,2283.0,33414.0,27.23,19.76,10947479.0,8338858.0,...,8.159,10.647,45.287,134.453,175.488,738.950,10999320.0,160.0,160.0,159.0
Illinois,1641826.0,33059,1479,29342.0,3146.0,38118.0,27.34,18.44,12353399.0,9268394.0,...,11.572,15.361,64.780,206.487,271.808,1103.926,12442944.0,323.0,323.0,335.0
Michigan,2060601.0,32936,2698,22465.0,2625.0,26970.0,26.27,25.25,9782749.0,7390023.0,...,13.273,17.278,69.705,146.708,190.370,764.742,9664257.0,321.0,321.0,369.0
North Carolina,3450303.0,6951,217,23027.0,2297.0,29096.0,38.50,32.00,9970391.0,7474719.0,...,14.658,19.268,80.692,222.393,292.017,1216.862,9126354.0,299.0,299.0,298.0
New Jersey,714441.0,92387,4753,22084.0,1873.0,30568.0,13.49,12.07,8908520.0,6739901.0,...,4.233,5.588,25.909,68.033,89.758,418.786,8791894.0,28.0,28.0,26.0
Georgia,2066287.0,19189,810,23143.0,2833.0,29899.0,49.22,32.71,9588781.0,7021464.0,...,21.783,29.526,140.822,317.366,427.908,2032.182,8814265.0,449.0,449.0,446.0

In [41]:
data.groupby(['state']).sum().sort_values(['cases', 'deaths'], ascending=False).head(11)

,fips_code,cases,deaths,Staffed.All.Beds,Staffed.ICU.Beds,Licensed.All.Beds,All.Bed.Occupancy.Rate,ICU.Bed.Occupancy.Rate,Population,Population..20..,...,staffed_icu_beds_.per_1000_people.,staffed_icu_beds_.per_1000_adults_20..,staffed_icu_beds_.per_1000_elderly_65..,licensed_all_beds_per_1000_people,licensed_all_beds_.per_1000_adults_20..,licensed_all_beds_.per_1000_elderly_65..,Population_2010,RUCC_2013,Rural.urban_Continuum_Code_2013,Urban_Influence_Code_2013
state,,,,,,,,,,,,,,,,,,,,,
New York,2055565.0,251720,14828,26268.0,2283.0,33414.0,27.23,19.76,10947479.0,8338858.0,...,8.159,10.647,45.287,134.453,175.488,738.950,10999320.0,160.0,160.0,159.0
New Jersey,714441.0,92387,4753,22084.0,1873.0,30568.0,13.49,12.07,8908520.0,6739901.0,...,4.233,5.588,25.909,68.033,89.758,418.786,8791894.0,28.0,28.0,26.0
Massachusetts,350196.0,41199,1961,18936.0,1481.0,24379.0,9.07,7.16,6902149.0,5327430.0,...,2.286,2.924,14.544,39.576,50.761,247.876,6547629.0,36.0,36.0,40.0
California,321041.0,35844,1316,82484.0,7881.0,99447.0,28.37,25.55,39483372.0,29473763.0,...,8.993,12.025,56.842,114.547,153.287,727.425,37172923.0,149.0,149.0,157.0
Pennsylvania,2818489.0,35384,1620,37867.0,3510.0,46557.0,31.41,26.32,12621902.0,9668730.0,...,15.712,20.347,79.511,206.264,267.008,1046.590,12515474.0,204.0,204.0,193.0
Illinois,1641826.0,33059,1479,29342.0,3146.0,38118.0,27.34,18.44,12353399.0,9268394.0,...,11.572,15.361,64.780,206.487,271.808,1103.926,12442944.0,323.0,323.0,335.0
Michigan,2060601.0,32936,2698,22465.0,2625.0,26970.0,26.27,25.25,9782749.0,7390023.0,...,13.273,17.278,69.705,146.708,190.370,764.742,9664257.0,321.0,321.0,369.0
Florida,808550.0,27861,866,57579.0,5924.0,76951.0,31.13,26.33,21172397.0,16485978.0,...,12.266,15.583,59.863,236.923,306.149,1296.356,18677494.0,173.0,173.0,151.0
Louisiana,1412096.0,24854,1405,16598.0,1359.0,20906.0,20.97,15.28,4530405.0,3352314.0,...,10.115,13.743,64.205,221.970,298.216,1363.337,4402650.0,230.0,230.0,230.0
Texas,9554114.0,20949,552,72207.0,6655.0,96310.0,56.45,37.98,27777393.0,19819756.0,...,22.040,30.596,152.458,532.819,732.517,3413.961,24256306.0,683.0,683.0,682.0
Connecticut,72064.0,20360,1423,7504.0,674.0,8238.0,4.81,4.78,3572665.0,2733719.0,...,1.182,1.532,6.725,14.669,19.030,83.935,3574097.0,15.0,15.0,14.0

## CLUSTERING

In [61]:
cludf=data.copy()
cludf.columns
cludf.drop(['fips_code', 'county_x', 'State Name'], axis = 1)

Index(['fips_code', 'date', 'county', 'state', 'cases', 'deaths', 'State',
       'Staffed.All.Beds', 'Staffed.ICU.Beds', 'Licensed.All.Beds',
       'All.Bed.Occupancy.Rate', 'ICU.Bed.Occupancy.Rate', 'Population',
       'Population..20..', 'Population..65..',
       'Staffed.All.Beds..Per.1000.People.',
       'Staffed.All.Beds..Per.1000.Adults..20...',
       'Staffed.All.Beds..Per.1000.Elderly..65...',
       'Staffed.ICU.Beds..Per.1000.People.',
       'Staffed.ICU.Beds..Per.1000.Adults..20...',
       'Staffed.ICU.Beds..Per.1000.Elderly..65...',
       'Licensed.All.Beds..Per.1000.People.',
       'Licensed.All.Beds..Per.1000.Adults..20...',
       'Licensed.All.Beds..Per.1000.Elderly..65...', 'county_x',
       'staffed_all_beds', 'staffed_icu_beds', 'licensed_all_beds',
       'all_bed_occupancy_rate', 'icu_bed_occupancy_rate', 'population',
       'population_20', 'population_65', 'staffed_all_beds_.per_1000_people.',
       'staffed_all_beds_.per_1000_adults_20..',
       'staffed_all_beds_.per_1000_elderly_65..',
       'staffed_icu_beds_.per_1000_people.',
       'staffed_icu_beds_.per_1000_adults_20..',
       'staffed_icu_beds_.per_1000_elderly_65..',
       'licensed_all_beds_per_1000_people',
       'licensed_all_beds_.per_1000_adults_20..',
       'licensed_all_beds_.per_1000_elderly_65..', 'County_Name',
       'Population_2010', 'RUCC_2013', 'Description', 'Area_name',
       'Rural.urban_Continuum_Code_2013', 'Urban_Influence_Code_2013',
       'peopleinpoverty2018', 'medianhouseholdincome'],
      dtype='object')

In [67]:
cludf=cludf.drop(['fips_code', 'county_x', 'date','State','Staffed.All.Beds','Staffed.ICU.Beds',
           'Licensed.All.Beds','All.Bed.Occupancy.Rate','ICU.Bed.Occupancy.Rate',
           'Population','Population..20..','Population..65..','Staffed.All.Beds..Per.1000.People.'
           ,'Staffed.All.Beds..Per.1000.Adults..20...',
           'Staffed.All.Beds..Per.1000.Elderly..65...',
           'Staffed.ICU.Beds..Per.1000.People.','Staffed.ICU.Beds..Per.1000.Adults..20...',
           'Licensed.All.Beds..Per.1000.Elderly..65...','Licensed.All.Beds..Per.1000.People.',
           'Licensed.All.Beds..Per.1000.Adults..20...'], axis = 1)

In [68]:
cludf.columns

Index(['county', 'state', 'cases', 'deaths',
       'Staffed.ICU.Beds..Per.1000.Elderly..65...', 'staffed_all_beds',
       'staffed_icu_beds', 'licensed_all_beds', 'all_bed_occupancy_rate',
       'icu_bed_occupancy_rate', 'population', 'population_20',
       'population_65', 'staffed_all_beds_.per_1000_people.',
       'staffed_all_beds_.per_1000_adults_20..',
       'staffed_all_beds_.per_1000_elderly_65..',
       'staffed_icu_beds_.per_1000_people.',
       'staffed_icu_beds_.per_1000_adults_20..',
       'staffed_icu_beds_.per_1000_elderly_65..',
       'licensed_all_beds_per_1000_people',
       'licensed_all_beds_.per_1000_adults_20..',
       'licensed_all_beds_.per_1000_elderly_65..', 'County_Name',
       'Population_2010', 'RUCC_2013', 'Description', 'Area_name',
       'Rural.urban_Continuum_Code_2013', 'Urban_Influence_Code_2013',
       'peopleinpoverty2018', 'medianhouseholdincome'],
      dtype='object')

In [69]:
#cludf = cludf.drop(['County_Name','Staffed.ICU.Beds..Per.1000.Elderly..65...'], axis = 1)

In [83]:

#cludf = cludf.drop(['Description','Rural.urban_Continuum_Code_2013','Urban_Influence_Code_2013'], axis = 1)

In [86]:
#cludf=cludf.dropna()

In [90]:
cludf[['RUCC_2013']] = cludf[['RUCC_2013']].astype(int)

/anaconda3/envs/Computational_methods/lib/python3.6/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [104]:
cludf.dtypes

county                                       object
state                                        object
cases                                         int64
deaths                                        int64
staffed_all_beds                            float64
staffed_icu_beds                            float64
licensed_all_beds                           float64
all_bed_occupancy_rate                      float64
icu_bed_occupancy_rate                      float64
population                                  float64
population_20                               float64
population_65                               float64
staffed_all_beds_.per_1000_people.          float64
staffed_all_beds_.per_1000_adults_20..      float64
staffed_all_beds_.per_1000_elderly_65..     float64
staffed_icu_beds_.per_1000_people.          float64
staffed_icu_beds_.per_1000_adults_20..      float64
staffed_icu_beds_.per_1000_elderly_65..     float64
licensed_all_beds_per_1000_people           float64
licensed_all_beds_.per_1000_adults_20..     float64
licensed_all_beds_.per_1000_elderly_65..    float64
Population_2010                             float64
RUCC_2013                                     int64
peopleinpoverty2018                          object
medianhouseholdincome                        object
dtype: object

In [115]:
#cludf['peopleinpoverty2018'] 
cludf['medianhouseholdincome'] = pd.to_numeric(cludf['medianhouseholdincome'], errors='coerce')
#cludf['peopleinpoverty2018'] = cludf['peopleinpoverty2018'].astype(int)

/anaconda3/envs/Computational_methods/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
cludf.dtypes
#cludf['RUCC_2013'] = cludf['RUCC_2013'].astype(str)

county                                       object
state                                        object
cases                                         int64
deaths                                        int64
staffed_all_beds                            float64
staffed_icu_beds                            float64
licensed_all_beds                           float64
all_bed_occupancy_rate                      float64
icu_bed_occupancy_rate                      float64
population                                  float64
population_20                               float64
population_65                               float64
staffed_all_beds_.per_1000_people.          float64
staffed_all_beds_.per_1000_adults_20..      float64
staffed_all_beds_.per_1000_elderly_65..     float64
staffed_icu_beds_.per_1000_people.          float64
staffed_icu_beds_.per_1000_adults_20..      float64
staffed_icu_beds_.per_1000_elderly_65..     float64
licensed_all_beds_per_1000_people           float64
licensed_all_beds_.per_1000_adults_20..     float64
licensed_all_beds_.per_1000_elderly_65..    float64
Population_2010                             float64
RUCC_2013                                    object
peopleinpoverty2018                         float64
medianhouseholdincome                       float64
dtype: object

In [119]:
N_CLUSTERS = 5

In [120]:
CATEGORICAL_FEATURES = ['county', 'state','RUCC_2013']

In [122]:
unstandardized_data = pd.get_dummies(
    cludf,
    columns=CATEGORICAL_FEATURES,
    drop_first=True
)

In [123]:
# Since the dummy columns already have values of 0 or 1,
# it is common to exclude them from standardization.
cols_to_standardize = [
  column for column in cludf.columns
    if column not in CATEGORICAL_FEATURES
]
data_to_standardize = unstandardized_data[cols_to_standardize]

# Create the scaler.
scaler = StandardScaler().fit(data_to_standardize)

# Standardize the data
standardized_data = unstandardized_data.copy()
standardized_columns = scaler.transform(data_to_standardize)
standardized_data[cols_to_standardize] = standardized_columns

/anaconda3/envs/Computational_methods/lib/python3.6/site-packages/sklearn/utils/extmath.py:765: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/anaconda3/envs/Computational_methods/lib/python3.6/site-packages/sklearn/utils/extmath.py:706: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [139]:

standardized_data.loc[0,:]

cases               -0.167914
deaths              -0.159035
staffed_all_beds    -0.282026
staffed_icu_beds    -0.264282
licensed_all_beds   -0.277322
                       ...
RUCC_2013_5          0.000000
RUCC_2013_6          0.000000
RUCC_2013_7          0.000000
RUCC_2013_8          0.000000
RUCC_2013_9          0.000000
Name: 0, Length: 1503, dtype: float64

In [128]:
model = KMeans(n_clusters=N_CLUSTERS).fit(standardized_data)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').