Final project:

Testing with Covid care dataset and nytimes country level cumulative cases data    
https://github.com/covidcaremap/covid19-healthsystemcapacity/tree/master/data    
https://github.com/nytimes/covid-19-data

In [51]:
import pandas as pd
import matplotlib.pyplot as plt

In [100]:
covid_care_df = pd.read_csv (r'us_healthcare_capacity-county-CovidCareMap.csv')
us_counties_df = pd.read_csv(r'us-counties.csv')

In [101]:
# sum across county
covid_care_df.columns = covid_care_df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
covid_care_df = covid_care_df.rename(columns={'county_name': 'county'})
covid_care_df = covid_care_df.groupby("county").sum()
covid_care_df = covid_care_df.drop('fips_code', 1)
covid_care_df.index.name = 'county'
covid_care_df.reset_index(inplace=True)
covid_care_df

,county,staffed_all_beds,staffed_icu_beds,licensed_all_beds,all_bed_occupancy_rate,icu_bed_occupancy_rate,population,population_20+,population_65+,staffed_all_beds_[per_1000_people],staffed_all_beds_[per_1000_adults_20+],staffed_all_beds_[per_1000_elderly_65+],staffed_icu_beds_[per_1000_people],staffed_icu_beds_[per_1000_adults_20+],staffed_icu_beds_[per_1000_elderly_65+],licensed_all_beds_[per_1000_people],licensed_all_beds_[per_1000_adults_20+],licensed_all_beds_[per_1000_elderly_65+]
0,Abbeville,25.0,6.0,25.0,0.32,0.03,24541.0,18884.0,5343.0,1.019,1.324,4.679,0.244,0.318,1.123,1.019,1.324,4.679
1,Acadia,205.0,4.0,186.0,0.28,0.85,62190.0,44673.0,9491.0,3.296,4.589,21.599,0.064,0.090,0.421,2.991,4.164,19.598
2,Ada,1195.0,105.0,1350.0,0.62,0.55,469966.0,345855.0,67792.0,2.543,3.455,17.627,0.223,0.304,1.549,2.873,3.903,19.914
3,Adair,155.0,10.0,262.0,1.06,0.51,73699.0,54268.0,12441.0,9.462,12.640,51.442,0.395,0.537,2.663,14.251,19.180,81.003
4,Adams,2157.0,326.0,2470.0,4.62,3.22,852479.0,617602.0,119524.0,36.300,47.872,182.953,1.885,2.555,12.211,42.224,56.461,223.312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,Yolo,125.0,14.0,125.0,0.52,0.70,220408.0,160633.0,27535.0,0.567,0.778,4.540,0.064,0.087,0.508,0.567,0.778,4.540
1564,York,1370.0,108.0,1615.0,2.20,2.19,942392.0,712714.0,162485.0,6.720,8.976,36.884,0.312,0.413,1.838,7.397,9.864,40.695
1565,Young,50.0,0.0,50.0,0.28,0.00,18045.0,13298.0,3671.0,2.771,3.760,13.620,0.000,0.000,0.000,2.771,3.760,13.620
1566,Yuba,209.0,24.0,221.0,0.74,0.67,78041.0,54627.0,9955.0,2.678,3.826,20.994,0.308,0.439,2.411,2.832,4.046,22.200
1567,Yuma,488.0,42.0,488.0,0.68,0.40,222148.0,159574.0,41679.0,5.248,7.360,28.222,0.198,0.275,1.055,5.248,7.360,28.222

In [102]:
# select most recent date for cumulative data and sum across county
April_date = us_counties_df['date'] == '2020-04-22'
April_us_counties_df = us_counties_df[April_date]
April_us_counties_df = April_us_counties_df.drop('fips', 1)
April_us_counties_df = April_us_counties_df.drop('date', 1)
April_us_counties_df = April_us_counties_df.groupby("county").sum()
April_us_counties_df.index.name = 'county'
April_us_counties_df.reset_index(inplace=True)
April_us_counties_df

                         county  cases  deaths
0                     Abbeville     22       0
1                        Acadia    117       7
2                      Accomack     52       1
3                           Ada    597      14
4                         Adair    122       7
...                         ...    ...     ...
1649                       Yuba     16       1
1650  Yukon-Koyukuk Census Area      1       0
1651                       Yuma     32       1
1652                     Zapata      7       0
1653                     Zavala      1       0

[1654 rows x 3 columns]

We have 1568 counties recorded in the CovidCare dataset and 1654 counties recorded in the US cases of covid-19 dataset.

In [105]:
data = pd.merge(covid_care_df, April_us_counties_df, how='left', on=['county'])
data

,county,staffed_all_beds,staffed_icu_beds,licensed_all_beds,all_bed_occupancy_rate,icu_bed_occupancy_rate,population,population_20+,population_65+,staffed_all_beds_[per_1000_people],staffed_all_beds_[per_1000_adults_20+],staffed_all_beds_[per_1000_elderly_65+],staffed_icu_beds_[per_1000_people],staffed_icu_beds_[per_1000_adults_20+],staffed_icu_beds_[per_1000_elderly_65+],licensed_all_beds_[per_1000_people],licensed_all_beds_[per_1000_adults_20+],licensed_all_beds_[per_1000_elderly_65+],cases,deaths
0,Abbeville,25.0,6.0,25.0,0.32,0.03,24541.0,18884.0,5343.0,1.019,1.324,4.679,0.244,0.318,1.123,1.019,1.324,4.679,22.0,0.0
1,Acadia,205.0,4.0,186.0,0.28,0.85,62190.0,44673.0,9491.0,3.296,4.589,21.599,0.064,0.090,0.421,2.991,4.164,19.598,117.0,7.0
2,Ada,1195.0,105.0,1350.0,0.62,0.55,469966.0,345855.0,67792.0,2.543,3.455,17.627,0.223,0.304,1.549,2.873,3.903,19.914,597.0,14.0
3,Adair,155.0,10.0,262.0,1.06,0.51,73699.0,54268.0,12441.0,9.462,12.640,51.442,0.395,0.537,2.663,14.251,19.180,81.003,122.0,7.0
4,Adams,2157.0,326.0,2470.0,4.62,3.22,852479.0,617602.0,119524.0,36.300,47.872,182.953,1.885,2.555,12.211,42.224,56.461,223.312,1415.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,Yolo,125.0,14.0,125.0,0.52,0.70,220408.0,160633.0,27535.0,0.567,0.778,4.540,0.064,0.087,0.508,0.567,0.778,4.540,151.0,12.0
1564,York,1370.0,108.0,1615.0,2.20,2.19,942392.0,712714.0,162485.0,6.720,8.976,36.884,0.312,0.413,1.838,7.397,9.864,40.695,932.0,24.0
1565,Young,50.0,0.0,50.0,0.28,0.00,18045.0,13298.0,3671.0,2.771,3.760,13.620,0.000,0.000,0.000,2.771,3.760,13.620,4.0,1.0
1566,Yuba,209.0,24.0,221.0,0.74,0.67,78041.0,54627.0,9955.0,2.678,3.826,20.994,0.308,0.439,2.411,2.832,4.046,22.200,16.0,1.0
1567,Yuma,488.0,42.0,488.0,0.68,0.40,222148.0,159574.0,41679.0,5.248,7.360,28.222,0.198,0.275,1.055,5.248,7.360,28.222,32.0,1.0